<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>
<body>
	<div class="topnav">
		<a class="active" th:href="@{/login}">Login</a> <a
			th:href="@{/kitchen_registration}">Kitchen Registration</a>
	</div>
	<div th:if="${param.success}">
		<div class="alert alert-info">You've successfully registered!</div>
	</div>
	<div th:if="${param.logout}">
		<div class="alert alert-info">You have been logged out.</div>
	</div>
	<table>
		<tr>Kitchen Name</tr>
		</tr>
	</table>
</body>
</html>