<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Here</title>
</head>
<body>
	
	<h1>Kitchen Registration Page 2</h1>
		<form th:action="@{/register-page=2}" th:object="${kitchen}" method="post">

			<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
				th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
				error</p>
				<table>
			<tr>Menu Items</tr>
			<tr th:each="menu : ${items}">
	  
			<td><a th:href="@{/list_items/{id}(id=${menu.id})}" th:text ="${menu.itemName}"></a></td>
			</tr>
			</table>
			<div class="form-group">
				<a th:href="@{/edit_menu}"><button type="button">Edit Menu</button></a>
			</div>
			<div class="form-group">
				<a href="/"><button type="button">Cancel</button></a>
				<a href="/"><button type="submit" class="btn btn-success">Save</button></a>
			</div>
		</form>
</body>
</html>